# Prerequisites
*.d
*.lst
*.map

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf
*.wps

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
